@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root{
    --cor00:#592A40;
    --cor01:#0D0A0C;
    --cor02:#353340;
    --cor03:#70778C;
    --cor04:#BF6836;
    

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-1:'Amita', cursive;
    --fonte-2:'Dancing Script', cursive;


}
*{
    padding: 0px;
    margin: 0px;
}
main{
    background-color: var(--cor03);
    margin: 10px;
    padding: 40px;
}